body{
    width : 420px;
    height: 540px;
    background: #DDD;
}
body #wrap{
    width: 100%;
    padding: 1em;
}
#wrap #loginarea{
    width: inherit;
    display: inline-block;
    text-align: center;
}
#loginmsg p{
    font-size: x-small;
}
#wrap #context{
    width: inherit;
    margin: 0 auto;
}

/***************************************************************/
/* start - 버튼 디자인*/
#facebook-signin{

}

/* end - 버튼 디자인*/
/***************************************************************/


/* start - div : 테이블 */
#context #divTable{
    display: table;
    width: inherit;
}
/* div - row */
#divTable div{
    display: table-row;
}
/* span - column */
#divTable #spanWord{
    display: table-cell;
    padding: 3px;
    background: white;
    border-bottom: 5px solid #DDD;
}
/* span : 단어 영역 */
#row #spanWord{

}
/* span : 체크박스 영역*/
#row #chk{
    width: 10px;
    /*visibility: hidden;*/
}
/* span : 단어 반복횟수 표시영역 */
#row #cycle{
    text-align: right;
    width: 10%;
}
/* end - div : 테이블 */
/***************************************************************/
/* label mouseover 스타일 */
label{
    font-weight: bold;
    color: deepskyblue;
}
/* mouse over link */
#divTable label:hover {
    color: #3e66af;
}
/* selected link */
#divTable label:active {
    color: cadetblue;
    padding: 1px 0px 0px 1px;
}
/***************************************************************/
input[type=checkbox]{
    visibility: hidden;
}
#divTable input[type=checkbox]:checked + label{
    color: #3e66af;
}
#spanWord #repeatCnt{
    margin-right: 2em;
    float:right;
}

